@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Faster+One&display=swap");

@media (max-width: 800px) {
  .homePage input[type="text"] {
    width: 20rem !important;
  }
}

:root {
  --light-text: #d9d9d9;
  --dark-text: #4b4b4b;

  --primary: #c872d6;
  --secondary: #7ee5c0;

  --primary-faded: #f5f4f5;
  --secondary-faded: #e9ebea;

  --red: #e66c6c;
  --green: #1dc601;

  --text: "Electrolize", sans-serif;
  --title: "Faster One", cursive;

  font-family: var(--text);
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--primary-faded);
}

h1 {
  font-family: var(--title);
}

li {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f9b33f95;
}

::selection {
  background-color: var(--primary);
  color: white;
}

/*------------------------------------*/
/* 
** Buttons
**/
.primaryButton,
.secondaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem 2rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: all 0.5s;
  font-family: var(--text-font);
  outline: none;
  border: 2px solid var(--primary);
}

.primaryButton {
  background-color: var(--primary);
  color: white;
}
.primaryButton:hover {
  background-color: #a13ab1;
  border: 2px solid transparent;
}

.secondaryButton {
  background-color: transparent;
  color: var(--primary);
}
.secondaryButton:hover {
  background-color: var(--primary);
  color: white;
}

.primaryButton svg {
  stroke: white;
}
.secondaryButton svg {
  stroke: var(--primary);
  transition: all 0.5s;
}
.secondaryButton:hover svg {
  stroke: white;
}

/*------------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.navbar ul {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.navbar li {
  margin: 0 1rem;
}
.navbar li:last-child {
  margin-right: 2rem;
}
.navbar li svg {
  width: 2rem;
  cursor: pointer;
}

/*------------------------------------*/
/*
 * Loader
**/

/*------------------------------------*/

/* 404
.notFound {
}
*/

/*------------------------------------*/

/* 
 * Create a custom checkbox
 */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.check {
  display: flex;
  height: 1.2em;
  width: 1.2em;
  background: #fff;
  border-radius: 4px;
  border: none;
}

.check--active {
  background: var(--primary);
}

/*------------------------------------*/

/* .toaster {
  animation: 7s ease-in-out dropDownToaster;
}

@keyframes dropDownToaster {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  7% {
    transform: translateY(10%);
  }

  12% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */
